body, html {
    height: 100%;
    width:100%
  }
.parallax {
    /* The image used */
    background-image: url('../images/criptoImage.jfif');
  
    /* Full height */
    height: 50%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
      /* background-attachment:fixed; */
    }
}   

nav { 
  width: 90%;
    background-color: lightgray;
    text-align: center;
    padding: 5px;
    display: flex;
    list-style-type: none;
}


nav> a {
    border: solid 1px white;
    color: yellow;
    background-color: lightsteelblue;
    border-radius: 5px;
    padding: 12px;
    margin: 4px
}
nav> a:hover {
    color: gold;
    background-color: black;

}

nav div {

  flex-grow: 3;
}

nav input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 200px;
  background: #f1f1f1;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  
}

nav button {
  float: left;
  padding-right: 20px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-top-right-radius: 30px ;
  border-bottom-right-radius: 30px ;
  
  cursor: pointer;
}

nav button:hover {
  background: #0b7dda;
}

/* form.example::after {
  content: "";
  clear: both;
  display: table;
} */





#currencyDiv{
  margin-top: 3%;
  transform: translateX(-20%); 
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  width: 70%;
  height: 80%;
  justify-content:space-evenly ;





  /* display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly ;
  margin-top: 3%;
  overflow-y: auto;
  margin-left: auto;
  transform: translateX(10%); */
}

#currencyDiv > div {
  border : 3px blue solid;

  margin-bottom: 20px;
  width: 32.5%;
  /* height: 30%; */
    position: relative;
  /* border: 1px blue solid; */
  padding: 10px;
  /* height: 30%;
  width: 30%;
  margin-left: auto;
  position: relative; */
  
}
 
.addInfo {
  border: 1px gray solid;
}

.btn-toggle {
  /* top: 50%;
  transform: translateY(-50%); */
  color : blue
}
/* .btn-toggle {
  
  .toggle-mixin;
  .toggle-color;
  
  &.btn-lg {
    .toggle-mixin(@size: 2.5rem; @font-size: 1rem; @margin: 5rem;);
  }
  
  &.btn-sm {
    .toggle-mixin(@font-size: .55rem; @margin: .5rem;);
  }
  
  &.btn-xs {
    .toggle-mixin(@size:1rem;@margin:0;)
  }
  
  &.btn-secondary {
    .toggle-color(@active-bg:@brand-secondary);
  }
} */

